
// @font-face {
//   font-family: 'Lato';
//   src: url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');
// }

//VARIABLES
$blue_dark : #086780;
$orange: hsl(46, 87%, 52%);

$background: rgb(43, 62, 80);
$panel-bg: hsl(211, 16%, 75%);
$panel-bg-head: hsl(211, 16%, 34%);
$text-color: rgb(235, 235, 235);


// PAGE STYLING
.chart-back {
  background-color: $background;
  padding-top: 20px;
  height: 100%;
  width: 100%;
  position: absolute;
  & .left-panel,
  & .right-panel {
    height: 90%;
    min-height: 200px;
    max-height: 600px;
  }
  .panel { // all panels within chart-back
    background-color: $panel-bg;
    border: none;
    border-radius: 4px;
    .panel-heading { // Chart header
      background-color: $panel-bg-head;
      color: $text-color;
      border-color: transparent;
      .panel-title {
        font-size: 1.3em;
      }
    } //panel-heading
  }
  
  .panel.chart-wrapper { // panel holding all panel sections
    height: 90%;
    min-height: 300px;
    margin-bottom: 0;
    .panel-heading .chart-message { // Chart header
      margin-bottom: 0;
      .panel-title {
        font-size: 1.8em;
      }
    }
    .panel-warning { // Chart warning
      background-color: $orange;
    }
    .panel-body.chart-holder {  // Chart panel section
      padding-top: 0;
      height: 90%;
      // min-height: 300px;
      // SCATTER CHART
      .scatterplotchart { // Chart
        position: relative;
        height: 100%;
        text {
          font-family: sans-serif;
          font-size: 0.7em;
          color: $text-color;
          opacity: .7;
          &.label-yaxis,
          &.label-xaxis {
            font-size: 1.1em;
          }
        }//text
      } //scatterplotchart
    } //panel chart-holder
  } //chart-wrapper - parent panel

  // -----------------
  // CHART ELEMENTS
  .axis line, 
  .axis path {
      shape-rendering: crispEdges;
      stroke: black;
      fill: none;
  }

  // x axis dates
  .mainSvg.axis {
    font-size: 1em;
    color: $text-color;
    &.date {
    }
  }

  circle {
      fill: $blue_dark;
  }

  .tooltip {
    position: absolute;
    background-color: $orange;
    padding: 2px 2px 4px;
    width: 120px;
    height: auto;
    text-align: center;
    vertical-align: center;
    pointer-events: none;
    border: none;
    border-radius: 5px;
    opacity: .7;
    font-size: 0.9em;
  }
  
} //chart-back

